body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
 
header.main-header {
  color: #fff;
  padding: 1rem;
  text-align: left;
  background-image:url(https://images.pexels.com/photos/8885140/pexels-photo-8885140.jpeg);
  height: 12rem;
}
 
header.main-header h1 {
  font-size: 3rem;
  margin: 30px;
  text-align: left
}
 
header.main-header p {
  font-size: 2rem;
  margin: 30px;
}

nav.barra {
  background-color: #333;
  display: flex;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
}

nav.barra .nav-button {
  color: white;
  background-color: transparent;
  border: 1px;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

nav.barra .nav-button:hover {
  background-color: white;
  color: #333;
}


body h1{
  text-align: center;
  margin-top: 60px;

}
 
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
 
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
}
 
.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  background-color: #fff;
}
 
.card:hover {
  transform: scale(1.05);
}
 
.card img {
  width: 100%;
  height: auto;
}
 
.card figcaption {
  padding: 0.8rem;
  font-size: 1rem;
  color: #333;
  text-align: center;
}
 
#dialogo-post {
  width: 80%;
  max-width: 600px;
  margin: 2rem auto;
  padding: 1.5rem;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}