<header class="main-header">
    <h1>RetroBlog</h1>
    <p>Un blog para amantes del retro</p>
    <nav class="barra">
        <a href="index" class="nav-button">Atari</a>
        <a href="index" class="nav-button">Ordenadores</a>
        <a href="index" class="nav-button">Consola</a>
        <a href="index" class="nav-button">Videojuegos</a>
    </nav>
</header>